
@{
    ViewBag.Title = "Painel";
}

<div class="container">
    <div class="form-horizontal">
        <h4></h4>
        <h4></h4>
        <div class="jumbotron">
	        <h1>Relatórios</h1>
        </div>
    </div>
</div>
