
@{
    ViewBag.Title = "Painel";
}

<div class="container">
    <div class="form-horizontal">
        <h4></h4>
        <h4></h4>
        <div class="jumbotron">
            <h1>Relatórios</h1>
            <br/><br/>
            <h3>@Html.ActionLink("Classificados Por Cargo.","ClassificadosPorCargo","Relatorio",new{Id = ViewBag.ProcessoId},null) </h3>
            <h3>Convocados que Desistiram.</h3>
            <h3>Convocados por data que ingressaram.</h3>
            <h3>Convocados por data que não ingressaram.</h3>
            <h3>Convocados por data, por Instituição de Ensino Superior (IES).</h3>
            <h3>Relatório de Pendentes de Dados Bancários.</h3>
            <h3>Estatística Geral da Convocação/Contratação.</h3>
        </div>
    </div>
</div>
