
@{
    ViewBag.Title = "DesistenciaCandidato";
}

<div class="container">
	<div class="form-horizontal">
		<h4></h4>
		<h4></h4>
		<div class="jumbotron">
			<h1>Bem Vindo @ViewBag.dadosConvocado.Nome</h1>
			<p>@ViewBag.dadosConvocacao.TextoParaDesistentes</p>
		</div>
	</div>
</div>

