@model SisConv.Infra.CrossCutting.Identity.Model.ApplicationUser

@{
    ViewBag.Title = "Detalhes";
}

<div>
    <h4>Usuário:</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>Lista de regra de acesso para esse usuário.</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr/>
    <p>Não há regras de acesso para esse usuário.</p>
}

<table class="table">
    <dl class="dl-horizontal">
        @foreach (var item in ViewBag.RoleNames)
        {
            <dt>
                @item
            </dt>
        }
    </dl>
</table>
<p>
    @Html.ActionLink("Editar", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Voltar", "Index")
</p>