
@{
    ViewBag.Title = "Painel";
}

<div class="container">
	<div class="form-horizontal">
		<h4></h4>
		<h4></h4>
		<div class="jumbotron">
			<h1>@ViewBag.dadosProcesso.Nome</h1>
			
			<h2><button type="button" class="btn btn-primary btn-lg">Convocar Candidatos</button></h2>	
			
		</div>
	</div>
</div>
